<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Django with Shad </title>
</head>
<body>
    <h1>My name is Dilshad Ansari</h1>
    <p>I am a new developer of django</p> 
    <hr>
    <h3>What do you say about it?</h3>
    <h2>You can ask anything as you want to ask.</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam earum reprehenderit nostrum repellendus porro explicabo laborum obcaecati nesciunt dignissimos adipisci?</p>
</body>
</html>